<% if (success_msg != "") { %>
    <div class="alert alert-success text-center" style="margin: 4rem 0 -4rem 0"><%= success_msg %></div>
<% } %>
<% if (error_msg != "") { %>
    <div class="alert alert-danger text-center" style="margin: 4rem 0 -4rem 0"><%= error_msg %></div>
<% } %> 

<% if (error != "") { %>
    <div class="alert alert-danger text-center" style="margin: 4rem 0 -4rem 0"><%= error %></div>
<% } %> 